services:
  jellyfin:
    image: linuxserver/jellyfin:latest
    container_name: jellyfin
    env_file:
      - path: ./default.env
        required: true
    volumes:
      - ${MEDIA_SERVER_PATH}/jellyfin:/config
      - ${MEDIA_PATH}/media:/data
    devices:
      - "dev/dri:/dev/dri" # Only for Intel/ATI/AMD GPU
    ports:
      - ${JELLYFIN_PORT_1:-8096}:8096
      - ${JELLYFIN_PORT_2:-8920}:8920
      - ${JELLYFIN_PORT_3:-7359}:7359/udp
      - ${JELLYFIN_PORT_4:-1900}:1900/udp
    restart: unless-stopped
    networks:
      media-server-net:
        ipv4_address: 12.5.0.10

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    env_file:
      - path: ./default.env
        required: true
    volumes:
      - ${MEDIA_SERVER_PATH}/sonarr:/config
      - ${MEDIA_PATH}:/data
    ports:
      - ${SONARR_PORT:-8989}:8989
    restart: unless-stopped
    depends_on:
        - jackett
        - transmission
    networks:
      - media-server-net

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    env_file:
      - path: ./default.env
        required: true
    volumes:
      - ${MEDIA_SERVER_PATH}/radarr:/config
      - ${MEDIA_PATH}:/data
    ports:
      - ${RADARR_PORT:-7878}:7878
    restart: unless-stopped
    depends_on:
        - jackett
        - transmission
    networks:
      - media-server-net

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    env_file:
      - path: ./default.env
        required: true
    environment:
      - AUTO_UPDATE=true #optional
    volumes:
      - ${MEDIA_SERVER_PATH}/jackett:/config
    ports:
      - ${JACKETT_PORT:-9117}:9117
    restart: unless-stopped
    depends_on:
        - flaresolverr
    networks:
      - media-server-net

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    env_file:
      - path: ./default.env
        required: true
    environment:
      - CAPTCHA_SOLVER=none
      - LANG=C.UTF-8
      - LOG_HTML=false
      - LOG_LEVEL=info
    restart: unless-stopped
    networks:
      - media-server-net

  transmission:
    image: linuxserver/transmission:4.0.6
    container_name: transmission
    env_file:
      - path: ./default.env
        required: true
    environment:
      - USER=${TR_USER}
      - PASS=${TR_PASS}
    volumes:
      - ${MEDIA_SERVER_PATH}/transmission:/config
      - ${MEDIA_PATH}/downloads:/data/downloads
    ports:
      - ${TR_UI_PORT:-9091}:9091
      - ${TR_PORT:-51413}:51413
      - ${TR_PORT:-51413}:51413/udp
    restart: unless-stopped
    networks:
      media-server-net:
        ipv4_address: 12.5.0.11

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    env_file:
      - path: ./default.env
        required: true
    environment:
      - LOG_LEVEL=debug
    ports:
      - ${JELLYSEERR_PORT:-5055}:5055
    volumes:
      - ${MEDIA_SERVER_PATH}/jellyseerr-data:/app/config
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr
    networks:
      - media-server-net
  requestrr:
    image: thomst08/requestrr
    container_name: requestrr
    env_file:
      - path: ./default.env
        required: true
    ports:
    - ${REQUESTRR_PORT:-4545}:4545
    volumes:
    - ${MEDIA_SERVER_PATH}/requestrr-config:/root/config
    restart: unless-stopped
    networks:
      - media-server-net

networks:
  media-server-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 12.5.0.0/16
          gateway: 12.5.0.1
